/.idea/domain-pathology.iml
/.idea/modules.xml
/notebooks/.ipynb_checkpoints/domain_pathology-checkpoint.ipynb
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
